<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machine.manager.dao.MachineInfoDao">
  <resultMap id="BaseResultMap" type="com.machine.manager.entity.MachineInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="machine_type" jdbcType="VARCHAR" property="machineType" />
    <result column="machine_function" jdbcType="VARCHAR" property="machineFunction" />
    <result column="machine_param" jdbcType="VARCHAR" property="machineParam" />
    <result column="machine_attribute" jdbcType="VARCHAR" property="machineAttribute" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="used_duration" jdbcType="INTEGER" property="usedDuration" />
    <result column="machine_brand" jdbcType="VARCHAR" property="machineBrand" />
    <result column="cooperation_mode" jdbcType="VARCHAR" property="cooperationMode" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="machine_status" jdbcType="VARCHAR" property="machineStatus" />
    <result column="machine_work_time_once" jdbcType="INTEGER" property="machineWorkTimeOnce" />
    <result column="machine_provice_id" jdbcType="VARCHAR" property="machineProviceId" />
    <result column="machine_provice" jdbcType="VARCHAR" property="machineProvice" />
    <result column="machine_city_id" jdbcType="VARCHAR" property="machineCityId" />
    <result column="machine_city" jdbcType="VARCHAR" property="machineCity" />

    <result column="online_status" jdbcType="INTEGER" property="onlineStatus" />
    <result column="lastlogin_time" jdbcType="VARCHAR" property="lastloginTime" />
    <result column="lock_status" jdbcType="INTEGER" property="lockStatus" />

    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="other_parm" jdbcType="VARCHAR" property="otherParm" />

  </resultMap>
  <sql id="Base_Column_List">
    id, machine_type, machine_function, machine_param, machine_attribute, user_id, used_duration,
    machine_brand, cooperation_mode,create_time, machine_status, machine_work_time_once, machine_provice_id,machine_provice,
    machine_city_id,machine_city,online_status,lastlogin_time,lock_status,store_id,other_parm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from machine_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from machine_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.machine.manager.entity.MachineInfo" useGeneratedKeys="true">
    insert into machine_info (machine_type, machine_function, machine_param, 
      machine_attribute, user_id, used_duration, 
      machine_brand, cooperation_mode,create_time, machine_status,
      machine_work_time_once, machine_provice_id,machine_provice, machine_city_id,machine_city
      ,online_status,lastlogin_time,lock_status,store_id,other_parm
      )
    values (#{machineType,jdbcType=VARCHAR}, #{machineFunction,jdbcType=VARCHAR}, #{machineParam,jdbcType=VARCHAR}, 
      #{machineAttribute,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{usedDuration,jdbcType=INTEGER}, 
      #{machineBrand,jdbcType=VARCHAR}, #{cooperationMode,jdbcType=VARCHAR}, #{createTime,  jdbcType=DATE}, #{machineStatus,jdbcType=VARCHAR},
      #{machineWorkTimeOnce,jdbcType=INTEGER}, #{machineProviceId,jdbcType=VARCHAR}, #{machineProvice,jdbcType=VARCHAR}, #{machineCityId,jdbcType=VARCHAR},#{machineCity,jdbcType=VARCHAR}
      ,#{onlineStatus,jdbcType=INTEGER},#{lastloginTime,jdbcType=VARCHAR},#{lockStatus,jdbcType=INTEGER},#{storeId,jdbcType=INTEGER},#{otherParm,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.machine.manager.entity.MachineInfo" useGeneratedKeys="true">
    insert into machine_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="machineType != null">
        machine_type,
      </if>
      <if test="machineFunction != null">
        machine_function,
      </if>
      <if test="machineParam != null">
        machine_param,
      </if>
      <if test="machineAttribute != null">
        machine_attribute,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="usedDuration != null">
        used_duration,
      </if>
      <if test="machineBrand != null">
        machine_brand,
      </if>
      <if test="cooperationMode != null">
        cooperation_mode,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="machineStatus != null">
        machine_status,
      </if>
      <if test="machineWorkTimeOnce != null">
        machine_work_time_once,
      </if>
      <if test="machineProviceId != null">
        machine_provice_id,
      </if>
      <if test="machineProvice != null">
        machine_provice,
      </if>
      <if test="machineCityId != null">
        machine_city_id,
      </if>
      <if test="machineCity != null">
        machine_city,
      </if>

      <if test="onlineStatus != null">
        online_status,
      </if>

      <if test="lastloginTime != null">
        lastlogin_time,
      </if>

      <if test="lockStatus != null">
        lock_status,
      </if>

      <if test="storeId != null">
        store_id,
      </if>

      <if test="otherParm != null">
        other_parm,
      </if>


    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="machineType != null">
        #{machineType,jdbcType=VARCHAR},
      </if>
      <if test="machineFunction != null">
        #{machineFunction,jdbcType=VARCHAR},
      </if>
      <if test="machineParam != null">
        #{machineParam,jdbcType=VARCHAR},
      </if>
      <if test="machineAttribute != null">
        #{machineAttribute,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="usedDuration != null">
        #{usedDuration,jdbcType=INTEGER},
      </if>
      <if test="machineBrand != null">
        #{machineBrand,jdbcType=VARCHAR},
      </if>
      <if test="cooperationMode != null">
        #{cooperationMode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime, jdbcType=DATE},
      </if>
      <if test="machineStatus != null">
        #{machineStatus,jdbcType=VARCHAR},
      </if>
      <if test="machineWorkTimeOnce != null">
        #{machineWorkTimeOnce,jdbcType=INTEGER},
      </if>
      <if test="machineProviceId != null">
        #{machineProviceId,jdbcType=VARCHAR},
      </if>
      <if test="machineProvice != null">
        #{machineProvice,jdbcType=VARCHAR},
      </if>
      <if test="machineCityId != null">
        #{machineCityId,jdbcType=VARCHAR},
      </if>
      <if test="machineCity != null">
        #{machineCity,jdbcType=VARCHAR},
      </if>

      <if test="onlineStatus != null">
        #{onlineStatus,jdbcType=INTEGER},
      </if>

      <if test="lastloginTime != null">
        #{lastloginTime,jdbcType=VARCHAR},
      </if>

      <if test="lockStatus != null">
        #{lockStatus,jdbcType=INTEGER},
      </if>

      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>

      <if test="otherParm != null">
        #{otherParm,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.machine.manager.entity.MachineInfo">
    update machine_info
    <set>
      <if test="machineType != null">
        machine_type = #{machineType,jdbcType=VARCHAR},
      </if>
      <if test="machineFunction != null">
        machine_function = #{machineFunction,jdbcType=VARCHAR},
      </if>
      <if test="machineParam != null">
        machine_param = #{machineParam,jdbcType=VARCHAR},
      </if>
      <if test="machineAttribute != null">
        machine_attribute = #{machineAttribute,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="usedDuration != null">
        used_duration = #{usedDuration,jdbcType=INTEGER},
      </if>
      <if test="machineBrand != null">
        machine_brand = #{machineBrand,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,  jdbcType=DATE},
      </if>
      <if test="cooperationMode != null">
        cooperation_mode = #{cooperationMode,jdbcType=VARCHAR},
      </if>
      <if test="machineStatus != null">
        machine_status = #{machineStatus,jdbcType=VARCHAR},
      </if>
      <if test="machineWorkTimeOnce != null">
        machine_work_time_once = #{machineWorkTimeOnce,jdbcType=INTEGER},
      </if>
      <if test="machineProviceId != null">
        machine_provice_id = #{machineProviceId,jdbcType=VARCHAR},
      </if>
      <if test="machineProvice != null">
        machine_provice = #{machineProvice,jdbcType=VARCHAR},
      </if>
      <if test="machineCityId != null">
        machine_city_id = #{machineCityId,jdbcType=VARCHAR},
      </if>
      <if test="machineCity != null">
        machine_city = #{machineCity,jdbcType=VARCHAR},
      </if>

      <if test="onlineStatus != null">
        online_status = #{onlineStatus,jdbcType=INTEGER},
      </if>

      <if test="lastloginTime != null">
        lastlogin_time = #{lastloginTime,jdbcType=VARCHAR},
      </if>

      <if test="lockStatus != null">
        lock_status = #{lockStatus,jdbcType=INTEGER},
      </if>

      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>

      <if test="otherParm != null">
        other_parm = #{otherParm,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.machine.manager.entity.MachineInfo">
    update machine_info
    set machine_type = #{machineType,jdbcType=VARCHAR},
      machine_function = #{machineFunction,jdbcType=VARCHAR},
      machine_param = #{machineParam,jdbcType=VARCHAR},
      machine_attribute = #{machineAttribute,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      used_duration = #{usedDuration,jdbcType=INTEGER},
      machine_brand = #{machineBrand,jdbcType=VARCHAR},
      cooperation_mode = #{cooperationMode,jdbcType=VARCHAR},
      create_time = #{createTime, jdbcType=VARCHAR},
      machine_status = #{machineStatus,jdbcType=VARCHAR},
      machine_work_time_once = #{machineWorkTimeOnce,jdbcType=INTEGER},
      machine_provice_id = #{machineProviceId,jdbcType=VARCHAR},
      machine_provice = #{machineProvice,jdbcType=VARCHAR},
      machine_city_id = #{machineCityId,jdbcType=VARCHAR},
      machine_city = #{machineCity,jdbcType=VARCHAR},

      online_status = #{onlineStatus,jdbcType=INTEGER},
      lastlogin_time = #{lastloginTime,jdbcType=VARCHAR},
      lock_status = #{lockStatus,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      other_parm = #{otherParm,jdbcType=VARCHAR}

    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 自定义sql -->
  <select id="getMachineInfoByAdmin" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from machine_info
  </select>

  <select id="selectDeviceId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from machine_info t where t.machine_param=#{machineParam}
  </select>

  <select id="getMachineInfoByNormal" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from machine_info t where t.user_id=#{id}
  </select>

  <select id="selectByBrand" parameterType="com.machine.manager.entity.machine.MachineRequestAfter" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from machine_info t
    where    1=1
    <if test="role != 'admin' ">
      AND t.`user_id`=#{userId}
    </if>
    AND t.machine_brand=#{machineBrand}
  </select>


  <select id="selectAllByAdmin" parameterType="com.machine.manager.entity.machine.MachineRequestAfter" resultType="com.machine.manager.entity.MachineInfo">
    select <include refid="Base_Column_List"/> FROM machine_info
  </select>

  <select id="selectAllByNormal" parameterType="com.machine.manager.entity.machine.MachineRequestAfter" resultType="com.machine.manager.entity.MachineInfo">
    select <include refid="Base_Column_List"/> FROM machine_info t where t.user_id=#{id}
  </select>


  <select id="selectAllByStore" parameterType="java.lang.Integer" resultType="com.machine.manager.entity.MachineInfo">
    select <include refid="Base_Column_List"/> FROM machine_info t where t.store_id=#{sid}
  </select>



  <select id="selectByProv" parameterType="com.machine.manager.entity.machine.MachineRequestAfter" resultType="com.machine.manager.entity.MachineInfo">
    select <include refid="Base_Column_List"/> FROM machine_info t
    where    1=1
    <if test="role != 'admin' ">
      AND t.`user_id`=#{userId}
    </if>
    AND t.`machine_provice_id`=#{machineProviceId}
    AND t.`user_id`=#{userId}
  </select>


  <select id="selectByProvCity" parameterType="com.machine.manager.entity.machine.MachineRequestAfter" resultType="com.machine.manager.entity.MachineInfo">
    select <include refid="Base_Column_List"/> FROM machine_info t
    where    1=1
    <if test="role != 'admin' ">
      AND t.`user_id`=#{userId}
    </if>
    AND t.`machine_provice_id`=#{machineProviceId}
    AND t.`machine_city_id`=#{machineCityId}
  </select>


  <select id="selectByNameProvCity" parameterType="com.machine.manager.entity.machine.MachineRequestAfter" resultType="com.machine.manager.entity.MachineInfo">
    select <include refid="Base_Column_List"/> FROM machine_info t
    <!--where    1=1-->
    <!--<if test="machineType != null and machineType != '' ">-->
      <!--AND t.machine_type=#{machineType}-->
    <!--</if>-->

    <!--<if test="machineProviceId != null and machineProviceId != '' ">-->
      <!--AND t.machine_provice_id=#{machineProviceId}-->
    <!--</if>-->

    <!--<if test="machineCityId != null and machineCityId != '' ">-->
      <!--AND t.machine_city_id=#{machineCityId}-->
    <!--</if>-->

    <!--<if test="curPage != null ">-->
      <!--LIMIT #{curPage}, #{pageSize}-->
    <!--</if>-->

    select <include refid="Base_Column_List"/> FROM machine_info t
    where    1=1
    <if test="role != 'admin' ">
      AND t.`user_id`=#{userId}
    </if>
    AND t.machine_type=#{machine_type}
    AND t.`machine_provice_id`=#{machineProviceId}
    AND t.machine_city_id=#{machineCityId}


  </select>


  <select id="selectByNameProv" resultType="com.machine.manager.entity.MachineInfo">
    select <include refid="Base_Column_List"/> FROM machine_info t
    where    1=1
    <if test="role != 'admin' ">
      AND t.`user_id`=#{userId}
    </if>
    AND t.machine_type=#{machine_type}
    AND t.`machine_provice_id`=#{machineProviceId}
  </select>



  <select id="selectCommon" resultType="com.machine.manager.entity.MachineInfo">
    select <include refid="Base_Column_List"/> FROM machine_info t
    where    1=1
    <if test="role != 'admin' ">
      AND t.`user_id`=#{userId}
    </if>

    <if test="machineProviceId != null and machineProviceId != '' ">
      AND t.`machine_provice_id`=#{machineProviceId}
    </if>

    <if test="machineCityId != null and machineCityId != '' ">
      AND t.machine_city_id=#{machineCityId}
    </if>

    <if test="machineType != null and machineType != '' ">
        AND (t.machine_type=#{machineType} OR t.machine_brand=#{machineType})
    </if>

<!--    <if test="machineBrand != null and machineBrand != '' ">-->
<!--      OR t.machine_brand=#{machineBrand}-->
<!--    </if>-->


  </select>

  <select id="selectByUserId" resultType="com.machine.manager.entity.MachineInfo">
    select <include refid="Base_Column_List"/>
    from machine_info t where t.user_id=#{userId}

  </select>


  <select id="selectByDevType" resultType="com.machine.manager.entity.machine.MachintCount">
    select machine_type ,count(*) as counts from machine_info GROUP BY machine_type

  </select>

  <select id="selectByDevLocation" resultType="com.machine.manager.entity.machine.MachintCount">
    select machine_provice ,count(*) as counts from machine_info GROUP BY machine_provice

  </select>

</mapper>