<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machine.manager.dao.UserInfoDao">
  <resultMap id="BaseResultMap" type="com.machine.manager.entity.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, email, telephone, address, password, role_id, user_type ,company_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
<!--  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.machine.manager.entity.UserInfo" useGeneratedKeys="true">-->
<!--    insert into user_info (`name`, email, telephone, -->
<!--      address, `password`, role_id, -->
<!--      user_type,company_name)-->
<!--    values (#{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, -->
<!--      #{address,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, -->
<!--      #{userType,jdbcType=VARCHAR}, #{`companyName`,jdbcType=VARCHAR})-->
<!--  </insert>-->
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.machine.manager.entity.UserInfo" useGeneratedKeys="true">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="userType != null">
        user_type,
      </if>

      <if test="companyName != null">
        `company_name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>

      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.machine.manager.entity.UserInfo">
    update user_info
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        `user_type` = #{userType,jdbcType=VARCHAR},
      </if>

      <if test="companyName != null">
        `company_name` = #{companyName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.machine.manager.entity.UserInfo">
    update user_info
    set `name` = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByUserInfo" resultType="com.machine.manager.entity.UserInfo">
    SELECT <include refid="Base_Column_List"/> FROM user_info t WHERE t.`name`=#{name} AND t.`telephone`=#{telephone}
  </select>

  <select id="selectAll" resultType="java.lang.Integer">
      select COUNT(u.id)  FROM user_info u
  </select>



  <!--查询用户信息以及名下下门店数量  -->
  <resultMap id="UserInfoAndStoreCountResultMap" type="com.machine.manager.entity.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="stores_count" jdbcType="INTEGER" property="storesCount" />
    <result column="new_stores_count" jdbcType="INTEGER" property="newStoresCount" />
  </resultMap>
<!--  <select id="selectUserInfoAndStoreCount" resultMap="UserInfoAndStoreCountResultMap">-->
<!--    SELECT s.*,COUNT(m.id) AS stores_count FROM `user_info`  s LEFT JOIN t_stores m ON s.id=m.agent_id-->

<!--    where 1=1-->
<!--    <if test="id != null and id != '' ">-->
<!--      and  s.id=#{id}-->
<!--    </if>-->
<!--    GROUP BY s.id-->
<!--  </select>-->



<!--  格式: SELECT * FROM 表名 LIMIT start,count;-->
<!--  start: 开始位置-->
<!--  count: 查询数量-->
  <select id="selectUserInfoByParmAndId" resultMap="UserInfoAndStoreCountResultMap">
    SELECT s.*,COUNT(m.id) AS new_stores_count FROM `user_info`   s  LEFT JOIN t_stores m ON s.id=m.agent_id
    where
      1=1
    <if test="id != null and id != '' ">
      and  s.id=#{id}
    </if>
    <if test="parms != null and parms != '' ">
      and
      (s.name=#{parms} or s.telephone=#{parms})
    </if>

    GROUP BY s.id
    LIMIT #{pageIndex},#{pageSize};
  </select>

</mapper>