<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machine.manager.dao.WorkRecordsDao">
  <resultMap id="BaseResultMap" type="com.machine.manager.entity.WorkRecords">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="machine_id" jdbcType="INTEGER" property="machineId" />
    <result column="used_duration" jdbcType="INTEGER" property="usedDuration" />
  </resultMap>
  <sql id="Base_Column_List">
    id, machine_id, used_duration
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from work_records
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from work_records
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.machine.manager.entity.WorkRecords" useGeneratedKeys="true">
    insert into work_records (
      machine_id, used_duration
      )
    values (
      #{machineId,jdbcType=INTEGER}, #{usedDuration,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.machine.manager.entity.WorkRecords" useGeneratedKeys="true">
    insert into work_records
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="machineId != null">
        machine_id,
      </if>
      <if test="usedDuration != null">
        used_duration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="machineId != null">
        #{machineId,jdbcType=INTEGER},
      </if>
      <if test="usedDuration != null">
        #{usedDuration,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.machine.manager.entity.WorkRecords">
    update work_records
    set machine_id = #{machineId,jdbcType=INTEGER},
    used_duration = #{usedDuration,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 自定义sql -->
  <select id="getMachineRecordsAll" resultType="com.machine.manager.entity.WorkRecords">
    select <include refid="Base_Column_List"/> FROM work_records
  </select>

  <select id="getMachineRecordsByMachineId" parameterType="java.lang.Integer" resultType="com.machine.manager.entity.WorkRecords">
    select <include refid="Base_Column_List"/> FROM work_records t where t.machine_id=#{machineId}
  </select>

  <select id="sumRecordsById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select sum(used_duration) FROM work_records  t where t.machine_id=#{machineId}
  </select>

  <select id="sumRecordsAll" resultType="java.lang.Integer">
    select sum(used_duration) FROM work_records
  </select>

</mapper>